.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
    .admin-content{
        width: 100vw;
        .admin-header{
            border: 1px solid green;
        }
        .admin-main{
            border: 1px solid red;
            .manage-user-container{
                .title{}
                .users-content{
                    button{
                        display: flex;
                        align-items: center;
                        gap:0 5px
                    }
                }
            }
            
        
        }
    }
}