.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
    .admin-content{
        width: 100vw;
        .admin-header{
            border: 1px solid green;
        }
        .admin-main{
            
        }
    }
}