.login-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    .login-header{
        display: flex;
        justify-content: end;
    }
    .login-title{
       
    }
    .login-welcome{
        font-weight: 300;
        font-size: 20px;
        color: #ccc;
    }
    .login-content-form{
        span{
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }
        button{
            width: 100%;
            background: black;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            color: white;
            &:disabled{
                background: #dddddd;
                color: #afafaf;
                cursor: no-drop;
            }
        }
        .icon-spinner{
            display: flex;
            align-items: center;
            gap: 10px;
            .loader-icon{
            font-size: 14px;
            color: rgb(37, 241, 248);
            animation: spin 1s infinite linear;
        }

            @keyframes spin {
                from {
                    transform: scale(1) rotate(0deg);
                }
                to {
                    transform: scale(1) rotate(360deg);
                }
            }
        }
        
    }
}